.productContainer .productTitle{
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.productContainer .productSubtitle{
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    margin-top: 190px;
}
.productDetails{
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
}
.accordionContainer{
    width: 40vw;
    padding: 30px;
}
.accordionContainer .detailsText{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 85px;
}
.accordionContainer .detailsTitle{
    height: 60px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.06em;
}