.card-testimonios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 16px;
  width: 432px;
  height: 460px;
  background: #F7F7F7;
  box-shadow: 0px 16px 40px rgba(209, 209, 209, 0.18);
  border-radius: 16px;
  height: 460px;
}
.user-testimonios {
  width: 100%;
}
.user-testimonios > div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #1A1A1A;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.06em;



}
.user-testimonios > div > p {
  font-weight: 400;
  font-size: 16px;
  margin-left: 15%;
}
.profilepicture {
  margin-bottom: 16px;
  
}

.opinion {
  width: 289px;
  height: 168px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  /* Escala de grises/Gray 700 */

  color: #808080;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.rating {
  align-items: center;
  color: red;
}
.rating p{
  color: #FCFCFC;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
@media  (max-width: 1500px) {
  .card-testimonios {
    justify-content: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 48px;
    margin: auto;
  }

  .user-testimonios > span {
    width: 196px;
    height: 12px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

  }
  .opinion {
    width: 330px;
    height: 200px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #1A1A1A;
    text-align: left;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media  (max-width: 2500px) and (min-width: 1500px)  {
  .card-testimonios {
    padding: 48px;
    gap: 24px;
    width: 385px;
  }
}
