.card-testimonios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 16px;
  
  width: 432px;
  height: 460px;
  
  background: #F7F7F7;
  /* Component Shadow */
  
  box-shadow: 0px 16px 40px rgba(209, 209, 209, 0.18);
  border-radius: 16px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.userinfo{
  margin-top: 2em;
  align-items: center;
}

.user-testimonios {
  align-items: center;
}
/* .user-testimonios > div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin-left: 16px;
  color: #FCFCFC;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.06em;
}
.user-testimonios > div > p {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
}
.profilepicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
} */

.profilepicture{
width: 40%;
max-height: 20%;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.position{

width: 34px;
height: 24px;

/* Desktop/Desktop Parrafo */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* Escala de grises/Negro */

color: #1A1A1A;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.user{
  width: 210px;
height: 30px;

/* Desktop/Desktop H3 */

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* Escala de grises/Negro */

color: #1A1A1A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.opinion {
  width: 336px;
  height: 192px;
  
  /* Desktop/Desktop Parrafo */
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  
  /* Escala de grises/Negro */
  
  color: #1A1A1A;
  
  
  /* Inside auto layout */
  
}

.rating {
  align-items: center;
  color: red;
}
.rating p{
  color: #FCFCFC;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
@media  (max-width: 1500px) {
  .card-testimonios {
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 24px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
  }

  .user-testimonios > span {
    width: 196px;
    height: 12px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

  }
  .opinion {
    width: 350px;
    height: 168px;
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

  }

  .profilepicture{
    width: 40%;
    max-height: 50px;
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media  (max-width: 2500px) and (min-width: 1500px)  {
  .card-testimonios {
    padding: 48px;
    gap: 24px;
    width: 385px;
  }
}
