.sobreTitle {
  /* Subtitulo Nosotros */

  width: 421px;
  height: 62px;
  /* Desktop/Desktop H2 Bold */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  /* or 129% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  /* Escala de grises/Negro */

  color: #1a1a1a;

  /* Inside auto layout */
    margin-bottom: 2.5em;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sobreP {
  width: 421px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #808080;
  margin-top: 1.5em;
}
.sobreP-3d{
  width: 421px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #808080;
  margin-top: 1.5em;
}

.sobrecontainer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.sobreimg {
  max-width: max-content;
  max-height: max-content;
  border-radius: 16px;
  margin: auto;
  object-fit: cover;
}

/** accordion **/
.accordionImgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.sobreimgAccordion{
  position: absolute;
  max-width: max-content;
  max-height: max-content;
  border-radius: 16px;
  margin: auto;
  opacity: 1;
  transition: all 0.5s;
  object-fit: cover;
}
.sobreimgHidden{
  opacity: 0;
}

.sobreinfocontainer {
  padding-left: 80px;
}
.serviciodetails{
    margin-top: 10em;
}


/* clase solo para socios en servicios IA, 2 imagenes */
.clientes .socioEstragicoIA{
  margin: 0 100px;
}

.numAccordionItemServices{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 68px;
  letter-spacing: 0.06em;
  color: #DA1C2B;
  margin-right: 40px;
}

.titleAccordionItemServices{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #808080;
}
.descriptionAccordionItemServices{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #808080;
  padding: 10px 80px 32px  40px ;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
  height: 60px !important;
  align-items: center !important;
}
.css-o4b71y-MuiAccordionSummary-content{
  align-items: center !important;

}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}
#casosDeExito{
  margin: 10px auto;
  display: flex;
  flex-direction: column-reverse;
}
#casosDeExito .titlesMobile{
  margin: 16px;
  margin-bottom: 50px;
}
.accordionImgContainer{
  height: auto;
  margin: 0;
  margin-bottom: 50px;
}

.accordionImgContainer img{
  width: 85vw;
  height: 40vh;
  max-height: 450px;
  border-radius: 16px;
}
@media (min-width: 1100px){
  #casosDeExito{
    margin: 10px auto;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }
  .sobreimgAccordion{
    margin-top: 0px;
  }
}

@media (min-width: 1400px){

}