.CardProductCompare{
    margin: auto 10px;
    border-radius: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #D7D7D7;
    background: #FCFCFC;
    box-shadow: 0px 16px 40px rgba(239, 239, 239, 0.25);
}
.products{
    background: #061F40;
}
.CardProductCompare img{
    border-radius: 16px;
    margin: auto;
    max-width: 450px;
    max-height: 450px;

}
.CardProductCompare .details{
    height: 780px;
}
.CardProductCompare p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4D4D4D;
    padding-bottom:0;
    margin-bottom: 24px;
    border-bottom: 1px solid #C0C0C0;
}
.CardProductCompare p:last-child{
    border: none;
}
.CardProductCompare .title{   
    text-align: center;
    color: #1A1A1A;
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0.06em;
    color: #1A1A1A;
    margin-bottom: 50px;
    margin-top: 50px;
}



.CardProductCompare .text{
    letter-spacing: 0.06em;
    color: #4D4D4D;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.CardProductCompare .cardProductCompareBtn{
    margin: 20px auto 10px auto;
    border-radius: 40px;
    border: 1px solid #DA1C2B;
    padding: 10px 30px;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: #DA1C2B;;

}
.CardProductCompare .details .subtitle{
    margin-bottom: 16px;
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #1A1A1A;
    text-transform: none;

}

.CardProductCompare .details .highlightList{
    list-style: disc;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    padding-left: 30px;
    margin-right: 40px;
    color: #4D4D4D;
    height: 175px;
}
.CardProductCompare .details .highlightList{
    border-bottom: 1px solid grey;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.CardProductCompare .details .highlightList:last-of-type{
    border-bottom: none;
}
.CardProductCompare .details .highlightList li p{
    line-height: 20px;
    margin-bottom: 10px;
}
::marker{
    font-size: 10px;
}
@media (min-width: 2000px) {
    /*
    .CardProductCompare{
        padding: 40px;
        height: 1600px;
        margin: auto 10px;
        border-radius: 40px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .CardProductCompare img{
        width: 450px;
        margin: auto;
    }
    .CardProductCompare .details{
        
    }
    .CardProductCompare p{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 24px;
        margin-bottom: 24px;
    }
    .CardProductCompare p:last-child{
        border: none;
    }
    .CardProductCompare .title{   
        font-size: 40px;
        line-height: 60px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    
    .CardProductCompare .subtitle{
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 16px;
    }
    
    .CardProductCompare .text{
        font-size: 20px;
        line-height: 30px;
    }
    
    .CardProductCompare .cardProductCompareBtn{
        font-size: 24px;
        line-height: 18px;
        padding: 20px 50px;
        margin-bottom: 40px;
    }
    */
}
