.accordionTitle{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #1A1A1A;
    display: flex;
    gap: 60px;
    color: #FCFCFC;
}
.accordionTitle p{
    font-weight: 500;
}
.disclosure {
    border-bottom:1px solid #6bf2e4b0;
}

.accordionDescription .detailsText{
    color: red;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-top: 15px;
}

@media (min-width: 1500px) {
    .accordionTitle{
        font-size: 22px;
        line-height: 28px;
        gap: 60px;
    }
}