.accordionTitle{
    font-family: 'Ubuntu';
    font-style: normal;   
    color: #1A1A1A;
    display: flex;
    align-items: center;
    gap: 24px;
    color: #FCFCFC;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    color: #4D4D4D;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #808080;
}
.accordionTitle p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #DA1C2B;

}
.disclosure {
    border-bottom:1px solid #5B5B5B;
}

.accordionDescription .detailsText{
    margin-bottom: 10px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #808080;
    margin-left: 40px;
}
@media(min-width:1600px){
    .accordionTitle{
        font-size: 20px;
        font-weight: 500;
    }
    .accordionDescription .detailsText{
        font-size: 18px;
    }
}