.servicios {
  height: 150vh;
  width: 100%;
  text-align: -webkit-center;
}

.servicios-titles {
  padding-top: 6%;
  padding-bottom: 3%;
}

.servicios-subtitle {
  /* Subtitulo Nosotros */

  width: 251px;
  height: 30px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.servicios-title {
  /* Subtitulo Nosotros */

  width: 421px;
  height: 60px;

  /* H2 Bold */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.servicios-cards {
  justify-content: space-around;
  margin-left: 7%;
  margin-right: 7%;
}

.servicios-card {
  /* Card-services */

  box-sizing: border-box;

  /* Auto layout */
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  gap: 34px;

  width: 332px;
  height: 671px;

  /* background: #fafafa; */
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.servicios-logo {

}
.servicios-logo img {
  width: 76px;
}

.servicios-card-title {
  width: 284px;

  /* Desktop/Desktop H2 Bold */
  justify-content: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height, or 129% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* Escala de grises/Negro */

  color: #1a1a1a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.servicios-card-paragraph {
  width: 268px;


  /* Desktop/Desktop Parrafo */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  /* or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* Escala de grises/Gray 700 */

  color: #808080;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.servicios-card-btn {
  /* buttons */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 16px 40px;
  gap: 8px;

  width: 143px;
  height: 52px;

  /* Primario/Vibrant Red */

  border: 1px solid #da1c2b;
  border-radius: 40px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
