.servicios {
  height: 100vh;
  width: 100%;
  text-align: -webkit-center;
}

.servicios-titles {
  padding-top: 6%;
  padding-bottom: 3%;
}

.servicios-subtitle {
  /* Subtitulo Nosotros */

  width: 251px;
  height: 30px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.servicios-title {
  /* Subtitulo Nosotros */

  width: 421px;
  height: 60px;

  /* H2 Bold */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.servicios-cards {
  justify-content: space-around;
  margin-left: 7%;
  margin-right: 7%;
}

.servicios-card {
  box-sizing: border-box;
  width: 32%;
  height: 35em;
  border-radius: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: #3888c280 1px solid;
  height: 675px;
  background: rgba(8, 32, 69, 0.5);
  backdrop-filter: blur(20px);
}

.servicios-logo {
  padding: 4%;
  position: relative;
  top: -11%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: #3888c280 1px solid;
  background: #092144;
  box-shadow: 0px 4px 40px rgba(107, 242, 228, 0.25);
}
.servicios-logo img {
  width: 76px;
}

.servicios-card-title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FCFCFC;
}

.servicios-card-paragraph {
  width: 376px;
  height: 168px;

  /* Parrafo */

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #4d4d4d;
  font-family: 'Open Sans';
  color: #F3F3F3;
}

.servicios-card-btn {
  margin-top: 100px;
  width: 71px;
  height: 18px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #1a1a1a;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
  gap: 8px;
  width: 249px;
  height: 72px;
  border: 1px solid #808080;
  border-radius: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  letter-spacing: 0.01em;
  background: linear-gradient(267.74deg, #6BF2E4 0.51%, #56C5FF 93.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
