#modalContacto{
    /*
    max-height: 90vh;
    margin-top: 5vh;
   



    REVISAR VERSION MOBILE, DEBERIA TENER EL MODAL, LA ALTURA TOTAL!
    POR OTRO LADO, DEBO REVISAR LA PAGINA DE FLOWBITE Y BUSCAR LA OPCION PARA PONER EL BOTON DE CIERRE DE MODAL: . . .
      */
      height: 100vh;
    
}
#modalContacto > div{
     height: auto; 
     padding: 0 ;
}
#modalContacto > div > div{
    height: 100vh;
    background: none;
}
#modalFormConteiner{
    background: white;
    height: 93%;
    padding: 0;
}
#modalFormConteiner .contactContainer{
    padding: 0;
    /* padding-top: 50px; */
    height: auto;
    margin-top: 15vh;
}

#modalFormConteiner .contactContainer .formContainer{
    padding: 10px 16px 30px 16px;
    display: block;
}
#modalFormConteiner .contactContainer h3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;    
    text-align: center;
    letter-spacing: 0.06em;    
    color: #404972;
}

#modalFormConteiner .formularioContacto .formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}


#modalFormConteiner .formularioContacto .labelFormContacto label{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #1A1A1A;
}
#modalFormConteiner input.botonEnvio {

}

#modalFormConteiner .formContainer .contacData{
    width: 0;
    display: none;
}
#modalFormConteiner  .formularioContacto{
    padding: 0;
    width: 100%;
    background: none;
}
#modalFormConteiner .contactContainer h2{
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 4vh;
}
#modalFormConteiner .logosContacto .icons{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    
}
#modalFormConteiner .formContainer .logosContacto .icons >div{
    border: 1px white solid;    
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalFormConteiner .formContainer .logosContacto .icons img{
    max-width: 30px;
    max-height: 30px;
}

.contact-btn{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FCFCFC;
    padding: 0;
    background: #97000C;
    border-radius: 40px;
    color: white;
}



@media (min-width: 1200px){
    #modalFormConteiner .contactContainer{
        padding: 0;
    }
    #modalFormConteiner .contactContainer .formContainer{
        display: flex;
        justify-content: space-around;
     }
     #modalFormConteiner .formContainer .contacData{
        width: 40%;
        display: inline;
     }
    #modalFormConteiner .formContainer .formularioContacto{
        width: 55%;
    }
    #modalFormConteiner .contactContainer h2{
        padding-top: 120px;        
        font-size: 20px;
        line-height: 30px;
    }
    #modalFormConteiner .logosContacto{
        display: none;
    }
    .contact-btn{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FCFCFC;
        padding: 0;
        border-radius: 40px;
    }
}