#modalFormConteiner {
    background-color: #173c63;
    width: fit-content;
}
#modalFormConteiner .contactContainer{
    width: 90vh;
    height: 90vh;
    padding: 0;
    
}
.max-w-2xl #modalFormConteiner{
    width: 70vw;
    margin-left: -18vw;
}

#modalFormConteiner .contactContainer h2{
    padding-top: 120px;
}
#modalFormConteiner .contactContainer .formContainer{
    padding: 80px 150px 120px 150px;
}

.contact-btn{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FCFCFC;
    padding: 0;
    background: linear-gradient(111.43deg, #56E1FF 7.62%, #6BF2E4 77.1%);
    border-radius: 40px;
    line-height: 18px;
    color: #05173B;
}