.testimonios {
  margin-top: 300px;
  background: radial-gradient(95.05% 95.05% at 50% 50%, rgba(44, 170, 218, 0.1) 0%, rgba(42, 161, 206, 0.09003) 6.22%, rgba(35, 135, 174, 0.07193) 17.5%, rgba(24, 95, 121, 0.04775) 32.58%, rgba(10, 39, 50, 0.01875) 50.66%, rgba(0, 0, 0, 0) 62.35%);

}
.cards-testimonios{
    display: flex;
    justify-content: space-around;
    
}

.carousel-testimonios{
    align-items: center;
}

.testimonios-arrow {
  color: #848484;
  box-sizing: border-box;
  /* Auto layout */
  text-align: center;
  padding: 8px;
  gap: 10px;
  width: 56px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 100px;
  align-items: center;
  text-align: center;
}

.arrow-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}
@media  (max-width: 1500px) {
    .testimonios-arrow {
        
        padding: 8px;
        gap: 10px;
        width: 45px;
        height: 45px;
        border-radius: 100px;

      }
      .arrow-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 4px;
    }
  }