.banner-empresas{
    text-align: -webkit-center;
    margin-top: 215px;
}

.banner-empresas .clientes{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 20px;
    max-width: 1000px;
}
.banner-empresas .clientes img{
    max-width: 200px;
    max-height: 100px;
    object-fit: contain;
    
}

.clientes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}