.contact-form{
    height: 100vh;
    width: 100vw;
}

.form{

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 515px;
height: 465px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
justify-self: center;
}

.input-section{
display: table-caption;
}

.input-section > label{
    width: 68px;
height: 21px;

/* Desktop/Formulario de contacto */

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.01em;

/* Escala de grises/Negro */

color: #1A1A1A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.input-section > input{
    padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    width: 515px;
    border-bottom: 1px solid #878686;
height: 24px;
margin-top: 10px;

/* Desktop/Desktop Parrafo */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* Escala de grises/Gray 600 */

color: #B3B3B3;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.button-contactform{
    width: 46px;
height: 20px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;

/* Primario/Red */

color: #9B0800;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 48px;
gap: 8px;

width: 158px;
height: 48px;

/* Primario/Red */

border: 1px solid #9B0800;
border-radius: 40px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}