.teamContainer .slide{
    box-shadow: none;
}
.partner{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 300px;
    text-align: center;
}

.partner  img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
}


.partner .name{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px; 
    line-height: 16px;
    margin-top: 48px;
    letter-spacing: 0.06em;
    color: #FCFCFC;
}
.partner .job{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: 9px;
    letter-spacing: 0.06em;
    color: #FCFCFC;
    margin: 5px;
}
.partner a .logoLinkedin {
    height: 30px;
}
.partner .linkedin{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: red;
    margin-top: 9px;
}

@media (min-width: 600px){
    .partner .name{
        font-size: 20px; 
        line-height: 30px;
        margin-top: 48px;
    }
    .partner .job{
        font-size: 20px;
        line-height: 28px;
        margin-top: 9px;
    }
    .partner .linkedin{
        font-size: 20px;
        line-height: 28px;
        margin-top: 9px;
    }

}
