.navbar{  
  background: rgb(5, 23, 59);
  color: white;
  margin-top: -90px;
}
.menuDrop{
  background: rgb(5, 23, 59);
}
.navCollapse .menuDrop li{
  color: white;
}
.contact-btn{
  padding: 8px;
  border-radius: 40px;
}
.navbarToggle{
  color: white;
  border: 1px rgb(200, 198, 198) solid;
  margin-left: 20px;
}
.navbarToggle:focus{
  background: rgb(5, 23, 59);
}
.navbarToggle:enabled{
  background: rgba(15, 76, 198, 0.568);
}

.navCollapse .menuDrop li:hover{
  background-color: rgb(12, 55, 142);
}

@media (max-width: 767px) {
  .navCollapse{
    text-align: center;
  }  
  .navCollapse ul div {
    width: 100%;
  }
  .navCollapse ul div button{
    margin: auto;
  }
  .navCollapse .menuDrop li{
    justify-content: center;
  }
}
@media (min-width: 900px){
  .contact-btn{
    padding: 12px 24px;
  }
  .contact-btn, .navCollapse ul div button,.navCollapse ul{
    font-size: 20px;
  }
  .menuDrop p{
    font-size: 17px;
  }

}