.servicios {
  height: 100vh;
  width: 100%;
  text-align: -webkit-center;
}

.servicios-titles {
  padding-top: 6%;
  padding-bottom: 3%;
}

.servicios-subtitle {
  /* Subtitulo Nosotros */

  width: 251px;
  height: 30px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.servicios-title {
  /* Subtitulo Nosotros */

  width: 421px;
  height: 60px;

  /* H2 Bold */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.servicios-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.servicios-description-container {
  text-align: left;
}

.servicios-example {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicios-example > div {
  border: 5px solid #f7f7f7;
  border-radius: 50%;
  width: 74px;
  height: 74px;
  box-shadow: 4px 4px 4px rgba(228, 228, 228, 0.98);
}

.servicios-example > div > span {
  height: inherit;
  padding-bottom: 15%;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  /* identical to box height, or 88% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #4e4e4e;
  font-family: "Open Sans";
}

.servicios-description-container > p:nth-child(1) {
  /* Subtitulo Nosotros */

  width: 520px;
  height: 60px;

  /* H2 Bold */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.servicios-description-container > p:nth-child(2) {
  width: 539px;
  height: 96px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  /* or 200% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #000000;
}

.servicios-conocermas {
  /* Boton */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* identical to box height, or 75% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #000000;
}

.servicios-example {
  width: 161px;
  height: 56px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #4e4e4e;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.servicios-circles {
  font-size: xx-small;
  align-items: center;
}

.inactive-circle {
  font-size: 0.8em !important;
  color: gray;
}
.servicios-conocermas {
  display: flex;
  align-items: center;
}

.servicios-star {

  width: 69px;
  height: 69px;
  
  background: #FFFFFF;
  box-shadow: 0px 16px 40px rgba(207, 207, 207, 0.25);
  border-radius: 50%;
  padding: ;
}

.servicios-star > img{
  position: relative;
  left: 14.65%;
  right: 14.65%;
  top: 13.05%;
  bottom: 19.3%;
  
}

.servicios-sub-title {
  /* Subtitulo Nosotros */

  height: 48px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.servicios-sub-subtitle {

  height: 56px;

  /* Parrafo */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #4e4e4e;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
