:root{
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}
*{
  box-sizing: border-box;
}
/* CLASES PARA CAMBIAR FONDOS DE PAGINA */
.backgroundImage{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}



/*  max 1600px top */
/*  min 1600px home - 2 */
.bgImageHome{
  background-position: top;
  background-image: url("../public/assets/Home.png");
}

@media (max-width:1600px){
  .bgImageHome{
    background-image: url("../public/assets/Home.png");
  }
}
@media (min-width:1600px){
  .bgImageHome{
    background-image: url("../public/assets/Home-lg.png");
  }
}

.bgImageProducts{
  background-image: url("../public/assets/bg-product-1.png");
  background-position: bottom;
  background-size: 1700px;
}

/* ANIMACIONES DE CAMBIO DE PAGINA */
#AboutUs , #Product{
  opacity: 1;
  transform: translateY(0);
  animation: fadeInOnLoad 1s ease-in  1;
  overflow:hidden;
}

@keyframes fadeInOnLoad {
  0%   {opacity: 0;
    transform: translateY(-50%);}
  100% {opacity: 1;
    transform: translateY(50%);}
}

.App {
  text-align: center;
}

