.banner {
  display: flex;
  flex-direction: column; 
  align-items: left;
  /*
  background: radial-gradient(80.07% 54.15% at 50% 50%, rgba(252, 252, 252, 0.573) 0%, rgb(255 255 255) 65%);
  */
  min-height: 400px; 
  height: 117vw;
  max-height: 700px;

  background: linear-gradient(270deg, rgb(255 255 255 / 85%) 0.54%, rgb(255 255 255 / 85%) 37.59%, rgb(255 255 255) 63.98%, rgb(255 255 255) 100%);


}
.banner-container{   
  min-height: 400px; 
  max-height: 700px;
  height: 115vw;
  z-index: 10;
}
.img-container{
  width: 100%;   
  min-height: 400px; 
  max-height: 700px;
  position: absolute;

background: radial-gradient(80.07% 54.15% at 50% 50%, rgba(252, 252, 252, 0.573) 0%, rgb(255 255 255) 65%);
  overflow: hidden;
  z-index: 4;
}

.banner img{
  position: absolute;
  z-index: -10;
  /*
  min-height: 400px; 
  max-height: 650px;
  width: 100vw;
  height: 115vw;
  max-width: none;
  object-fit: cover;
  */
  
  object-fit: cover;
  opacity: 0.50;
  right: 0;

}

.banner-subtitle{    
  margin: 70px 16px 40px 16px;
  font-family: "Ubuntu";
  align-items: center;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 500;
  color: #FCFCFC;  
  line-height: 40px; 
  font-size: 24px;
  max-width: 400px;
}

.banner-subtitle h2{
  color: #1A1A1A;
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: 0.06em;
}
.banner-subtitle span:first-of-type{
  color: #1A1A1A;
}
.banner-subtitle span:last-of-type{
  color: #BA000E;
}

.banner-contact-btn .contact-btn{
  margin-left: 16px;
  width: 160px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Boton */
  background: linear-gradient(106.12deg, rgba(169, 1, 1, 0.95) 22.42%, #BA000E 77.58%);
  border-radius: 40px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #F2F2F2;
  

}

@media (min-width: 500px){
  .banner{
  }
  .banner img{
  }
  .banner .banner-container{
    
    margin: auto;
    margin-top: 75px;
  }
  .banner-subtitle {
    max-width: 500px;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 64px;
  }
  .banner-subtitle h2{
  }
  .banner-contact-btn .contact-btn{
    width: 249px;
    height: 72px;
    padding: 16px 32px;
    gap: 8px;
    /* Boton */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
}


@media (min-width: 1100px){
  .banner{
  }
  .banner img{
  }
  .banner .banner-container{
    margin: 0;
    padding-left: 250px;  
    margin-top: 150px;
  }
  .banner-subtitle {
    max-width: 700px;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 64px;
  }
  .banner-subtitle h2{
  }
  .banner-contact-btn .contact-btn{
    width: 249px;
    height: 72px;
    padding: 16px 32px;
    gap: 8px;
    /* Boton */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
}