.slide{
    overflow: hidden;
    text-align: center;
    background-color: #FCFCFC;
    box-shadow: 0px 16px 40px rgba(239, 239, 239, 0.25);
    border-radius: 40px;
}
/* products container */
.productsContainer{
    margin-top: -100px;
}
.productsContainer .products{
    width: 655px;
    border: 1px solid #D4D4D4;;
}
/* team container */
.teamContainer{
    margin-top: 250px;
    margin-bottom: 250px;
}
.teamContainer .slide{
    border: none;
}
.teamContainer .team{
    width: 250px;
}

/* gallery container */
.galleryContainer{
   /* transform: translateX(-30%); */
}
.galleryContainer .slide{
    border-radius: 0;
}
.galleryContainer .gallery{
    width: 800px;
}

/* testimonios container */
.testimoniosContainer .sliderTestimonios{
    background-color:transparent;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    margin-top: 30px;
}
.testimoniosContainer .rec-arrow{
    color: #848484;
    box-sizing: border-box;
    text-align: center;
    gap: 10px;
    width: 56px;
    height: 56px;
    background: #ffffff;
    border: 1px solid #d2d2d2;
    border-radius: 100px;
    align-items: center;
    text-align: center;
}
.testimoniosContainer .rec-dot{
    background: #ffffffaf;
    border: 1px solid #d2d2d2;
}
.testimoniosContainer .rec-dot_active{
    background: #0f61cd;
    border: 1px solid #d2d2d2;
}
@media screen and (max-width:669px){
    .slide{
        width: 355px;
    }
}

@media screen and (max-width:350px){
    .slide{
        width: 355px;
    }
}


