
#swiperProductsCompare .CardProductCompare{
    max-width: 750px;
    margin: auto;
    height: auto;
}
#swiperProductsCompare .CardProductCompare .swiper-wrapper{
    justify-content: space-around !important;
}



@media (min-width: 2000px) {
    #swiperProductsCompare{
        margin: 0 295px;
        padding: 0 50px;
    }
    #swiperProductsCompare .products{
    }
    
}

#swiperTeam .swiper-button-next, #swiperProductsCompare .swiper-button-next, #swiperTestimonios .swiper-button-next ,#swiperGallery .swiper-button-next ,#swiperTeam .swiperImgProduct, #swiperImgProduct .swiper-button-next{
    right: var(--swiper-navigation-sides-offset,1px);
    color: #848484;
}
#swiperTeam .swiper-button-prev, #swiperProductsCompare .swiper-button-prev, #swiperTestimonios .swiper-button-prev ,#swiperGallery .swiper-button-prev ,#swiperTeam .swiper-button-prev , #swiperGalleryProduct .swiper-button-prev, #swiperImgProduct .swiper-button-prev{
    left: var(--swiper-navigation-sides-offset,1px);
    color: #848484;
}
.swiper-button-next:after , .swiper-button-prev:after{
    font-size: 30px !important;
}


/* products container */
.productsContainer{
    margin-top: -100px;
}
.productsContainer .products{
    width: 655px;
    border: 1px solid #D4D4D4;;
}

#swiperTestimonios{

}
#equipo{
    display: block;
    background: linear-gradient(180deg, rgba(218, 220, 222, 0) 7.54%, rgba(218, 220, 222, 0.4) 32.59%, rgba(218, 220, 222, 0.5) 63.98%, rgba(218, 220, 222, 0) 100%);
}
#swiperTeam{
    margin: 80px 10px 110px 10px;
}

#swiperGallery .gallery{
    width: 800px;
}
#swiperGallery  img{
    padding: 0px;
    border-radius: 16px;
    margin-left: -15vw;
    height: 342px;
    width: 575px;    
    object-fit: cover;
}

#swiperImgProduct{
    max-width: 90vw;
    height: 90vw;
}

.slide{
    overflow: hidden;
    text-align: center;
    background-color: #FCFCFC;
    box-shadow: 0px 16px 40px rgba(239, 239, 239, 0.25);
    border-radius: 40px;
}

/* testimonios container */
.testimoniosContainer .sliderTestimonios{
    background-color:transparent;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    margin-top: 30px;
}
.testimoniosContainer .rec-arrow, .teamContainer .rec-arrow, .galleryContainer .rec-arrow{
    color: #0b2b51;
    box-sizing: border-box;
    text-align: center;
    width: 56px;
    height: 56px;
    background: #ffffff45;
    border: 1px solid #d2d2d245;
    border-radius: 100px;
    text-align: center;
    margin: 30px;
}

.testimoniosContainer .rec-dot, .teamContainer .rec-dot, .galleryContainer .rec-dot{
    background: #ffffffaf;
    border: 1px solid #d2d2d2;
}
.testimoniosContainer .rec-dot_active{
    background: #0f61cd;
    border: 1px solid #d2d2d2;
}


@media (min-width: 1200px) {
    #swiperImgProduct{
        width: 40vw;
        height: 40vw;
    }
}
@media (max-width: 1024px) {
    #swiperGallery  img{
        padding: 15px;
        border-radius: 16px;
        margin-left: 0;
        height: 342px;
        width: 575px;    
        object-fit: cover;
    }
}